.about {
  position: relative;
  z-index: 1;

  min-height: 354px;

  color: $white;
  background-color: $dark-blue-grey;

  @include section-bottom-round;
}

.about::before {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: -1;
  width: 320px;
  height: 100%;

  margin: 0 auto;
  background-image: url("../img/about-mobile@1x.png"),
    url("../img/rectangle-bg-blue.svg");
  background-repeat: no-repeat;
  background-position: left 15px center,
    left -30px top -11px;
  background-size: cover, 143px 143px;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-mobile@2x.png"),
      url("../img/rectangle-bg-blue.svg");
  }
}

.about__wrapper {
  z-index: 2;

  padding-top: 30px;
  padding-bottom: 80px;

  background-repeat: no-repeat;
  background-position: center bottom;
}

.about__text {
  @include subtext-font;
}

.about__accent {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .about {
    min-height: 683px;
  }

  .about::before {
    width: 768px;

    background-image: url("../img/about-tablet@1x.png"),
      url("../img/rectangle-bg-big-blue.svg");
    background-repeat: no-repeat;
    background-position: right 7px bottom 88px,
      left 40px top 53px;
    background-size: 376px 548px,
      688px 213px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.png"),
        url("../img/rectangle-bg-big-blue.svg");
    }
  }

  .about__wrapper {
    padding-top: 43px;
    padding-right: 395px;
    padding-bottom: 88px;
    padding-left: 76px;

    background: none;
  }

  .about__btn {
    width: 274px;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    padding-top: 133px;
    padding-right: 699px;
    padding-left: 132px;
  }

  .about__accent {
    padding-right: 150px;

    font-size: 21px;
    line-height: 25px;
  }

  .about::before {
    width: 1440px;

    background-image: url("../img/about-desktop@1x.png"),
      url("../img/rectangle-bg-blue.svg");
    background-repeat: no-repeat;
    background-position: right bottom,
      left 60px top 133px;
    background-size: 630px 665px,
      213px 213px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png"),
        url("../img/rectangle-bg-blue.svg");
    }
  }
}
