.about {
  position: relative;
  min-height: 352px;

  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 81px;
  padding-left: 50px;
  color: $white;
  background-color: $dark-blue-grey;

  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
}

.about::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -25px;

  @include section-bottom-rounding;

  background-color: $dark-blue-grey;
}

.about__title {
  @include section-title;
}

.about__text {
  @include subtext-font;
}

.about__accent {
  font-weight: 700;
}
