.area {
  display: none;
  margin-top: -16px;
  padding-top: 33px;
  padding-right: 50px;
  padding-left: 50px;

  color: $medium-grey;
  background-color: #e2e5f2;
}

.area__title {
  position: relative;

  margin: 0;
  padding: 0;
  // padding-left: 28px;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.area__title::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -27px;

  width: 15px;
  height: 10px;

  background-image: url("../img/filter.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


.area__tabs {
  display: flex;
  margin: 0;
  padding: 0;

  flex-direction: column;

  list-style: none;
}

.area__continent {
  font-size: 16px;
  line-height: 22px;

  color: rgba($dark-blue-grey, 0.3);
  text-transform: uppercase;

  text-decoration: none;
}

.area__continent--active {
  color: $dark-blue-grey;
}
