.contacts {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.contacts__link {
  display: flex;
  min-height: 45px;

  align-items: center;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;

  color: $light-gold;

  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-gold;
  }

  &:active {
    color: rgba($dark-gold, 0.3);
  }
}

.contacts__icon-wrapper {
  display: flex;
  margin-right: 16px;

  width: 45px;
  height: 45px;

  background-color: #121936;
  border-radius: 50%;
}

.contacts__icon {
  margin: auto;
  fill: $light-gold;
}

.contacts__link:hover .contacts__icon {
  fill: $dark-gold;
}

.contacts__link:active .contacts__icon {
  fill: rgba($dark-gold, 0.3);
}
