.contacts {
  @include list-reset;
  display: flex;
  flex-direction: column;
}


.contacts__link {
  display: flex;
  min-height: 45px;

  align-items: center;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;

  color: $dark-blue-grey;
  background-color: $white;
  text-decoration: none;
}

.contacts__icon-wrapper {
  display: flex;
  margin-right: 16px;

  width: 45px;
  height: 45px;

  background-color: #121936;
  border-radius: 50%;
}

.contacts__icon {
  margin: auto;
  fill: $light-gold;
}

.contacts__link:hover .contacts__icon {
  fill: $dark-gold;
}

.contacts__link:active .contacts__icon {
  fill: rgba($dark-gold, 0.3);
}

.contacts__link:active .contacts__text {
  color: rgba($dark-blue-grey, 0.3);
}
// @media (min-width: $desktop-width) {
//   .contacts {
//     flex-direction: row;
//   }
//
//   .contacts__text {
//     display: none;
//   }
//
//   .contacts__link {
//     background-color: $mango;
//     padding-left: 45px;
//     border-radius: 50%;
//   }
//
//   .contacts__link--mail {
//     background-color: #ffbd30;
//   }
//
//   .contacts__link::before {
//     background-color: transparent;
//   }
//
//   .contacts__link--phone::before {
//     background-image: url("../img/topmenu-phone.svg");
//   }
//
//   .contacts__link--mail::before {
//     background-image: url("../img/topmenu-mail.svg");
//   }
//
//   .contacts__link:hover,
//   .contacts__link:focus {
//     background-color: #f26926;
//   }
//
//   .contacts__link--mail:hover {
//     background-color: #ff8d30;
//   }
//
//   .contacts__link:active::before {
//     opacity: 0.3;
//   }
// }
