.destination__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.destination__item {
  display: flex;

  margin-bottom: 10px;
}

.destination__flag {
  position: relative;

  margin-right: 19px;
}

.destination__country {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;

  text-transform: uppercase;

  color: $dark-slate-blue;
}

.destination--preview {
  .destination__list {
    flex-direction: row;
    justify-content: center;
  }

  .destination__country {
    display: none;
  }

  .destination__flag {
    position: relative;
  }

  .destination__flag::before {
    content: attr(data-tooltip);

    position: absolute;
    bottom: -72px;
    left: 50%;

    z-index: 2;

    display: none;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 17px;
    padding-left: 24px;

    font-size: 20px;
    line-height: 24px;

    color: $white;
    background-color: $tooltip-blue;

    border-radius: 4px;

    transform: translateX(-50%);
  }

  .destination__flag::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 10px;

    display: none;
    padding-top: 16px;
    width: 16px;
    height: 16px;

    background-color: $tooltip-blue;

    transform: rotate(45deg);
  }

  .destination__flag:hover {
    &::before,
    &::after {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .destination__country {
    font-size: 20px;
    line-height: 30px;
  }


  @media (max-width: 1439px) {
    .destination__list {
      flex-direction: row;
    }

    .destination__item {
      margin-right: 33px;
    }

    .destination--preview {
      .destination__item {
        margin-right: 0;
      }
    }
  }
}
