.main-nav {
  position: relative;

  // display: flex;
  flex-direction: column;

  list-style: none;
}

.main-nav__site {
  margin: 0;
  margin-bottom: 50px;

  text-align: center;
}

.main-nav__user {
  margin: 0;
  margin-bottom: 50px;
}

.main-nav__contacts {
  margin: 0;
  margin-bottom: 42px;
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 1082px;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__social {
    display: none;
  }

  .main-nav__site {
    order: 1;
  }

  .main-nav__contacts {
    order: 2;
    margin-left: auto;
  }

  .main-nav__user {
    order: 3;
  }
}
