.num-field {
  padding: 0;
  border: 0;
}

.num-field__wrapper {
  display: flex;
  width: 220px;
  margin-bottom: 20px;

  flex-direction: column;
}

.num-field__row {
  display: flex;
}

.num-field__row--btns {
  border: 1px solid #cbced9;
  border-radius: 4px;
}

.num-field__btn {
  position: relative;

  width: 41px;
  height: 41px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;

  border: none;
  border-radius: 4px;
}

.num-field__btn--incr {
  background-image: url("../img/qty-plus-mobile.svg");
  background-position: center right 15px;
}

.num-field__btn--decr {
  background-image: url("../img/qty-minus-mobile.svg");
}

.num-field__input {
  // padding-top: 16px;
  // padding-bottom: 16px;

  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  text-align: center;
  border: 0;

  appearance: textfield;
}

.num-field__row--text {
  margin-bottom: 8px;
  justify-content: space-between;
}

.num-field__label,
.num-field__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;

  text-transform: uppercase;
  color: $dark-slate-blue;
}

.num-field__label {
  color: rgba($dark-slate-blue, 0.3);
}
