.page-header {
  position: relative;

  display: flex;
  min-width: 320px;
  min-height: 73px;
  padding-top: 27px;
  padding-bottom: 31px;

  color: $dark-blue-grey;
  background-color: $white;
}

.page-header--dark {
  color: $white;
  background-color: #161c36;
}

.page-header--sticky {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;

  background-color: $white;
}

.page-header__toggle {
  position: relative;

  width: 19px;
  height: 19px;

  background-color: transparent;
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;

  border: none;
}

.page-header__toggle-icon {
  display: none;
}

.page-header__toggle--closed {
  background: none;
}

.page-header__toggle--closed .page-header__toggle-icon {
  display: block;
  fill: $white;
}

.page-header--sticky .page-header__toggle-icon {
  fill: #cccccc;
}

.page-header__nav {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.page-header__nav--closed {
  .page-header__site,
  .page-header__user,
  .page-header__contacts,
  .page-header__social {
    display: none;
  }
}

.page-header__nav--nojs {
  display: flex;
}

.page-header__nav--opened {
  display: flex;
}

.page-header__user {
  width: 270px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-header__link--hide {
  display: none;
}

@media (max-width: 1439px) {
  .page-header__logo {
    position: relative;
  }

  .page-header--dark .page-header__logo::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100px;
    height: 19px;

    background-image: url("../img/logo-mobile-white@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-mobile-white@2x.png");
      background-size: 100px 19px;
    }
  }

  @media (min-width: $tablet-width) {
    .page-header--dark .page-header__logo::before {
      width: 166px;
      height: 42px;

      background-image: url("../img/logo-tablet-white@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-tablet-white@2x.png");
        background-size: 166px 42px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 132px;
    padding-top: 40px;
  }

  .page-header--dark {
    background-color: $dark-blue-grey;
  }

  .page-header__wrapper {
    max-width: 355px;
  }

  .page-header__nav {
    align-items: flex-start;
  }

  .page-header__nav--closed {
    .page-header__user {
      display: flex;
    }
  }

  @media (max-width: 1439px) {
    .page-header__user {
      position: absolute;
      top: 40px;
      right: 40px;

      margin: 0;
    }
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    background-color: #182044;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__box {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
  }

  .page-header__nav {
    margin-left: 145px;

    flex-direction: row;
    align-items: center;

    .page-header__contacts,
    .page-header__social {
      display: none;
    }

    .page-header__site,
    .page-header__user {
      display: flex;
    }
  }

  .page-header__link--hide {
    display: flex;
  }

  .page-header__site {
    width: 600px;
  }

  .page-header__user {
    width: 345px;
    margin-left: auto;

    justify-content: flex-end;
  }
}
