.page-footer {
  position: relative;

  display: flex;

  flex-direction: column;
  align-items: center;

  color: $medium-grey;
  background-color: $white;
}

.page-footer::before {
  @include section-bottom-rounding;
  top: -24px;

  transform: rotate(180deg);
}

.page-footer__logo {
  width: 96px;
  height: 15px;
}

.page-footer__copyright {
  min-width: 270px;
  padding-top: 22px;
  padding-bottom: 14px;
  box-shadow: inset 0 1px 0 0 #f2f2f2;
}
