.transport-option__list {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 20px;
  margin-left: -3px;
  padding: 0;

  display: flex;

  list-style: none;
}

.transport-option__item {
  display: flex;
  width: 33px;
  height: 33px;

  justify-content: center;
  align-items: center;

  background-color: $white;
  border-radius: 50%;
}

.transport-option__icon {
  fill: rgba(#000000, 0.15);
}

.transport-option__input:checked ~ .transport-option__label .transport-option__icon {
  fill: $dark-slate-blue;
}

@media (min-width: $tablet-width) {
  .transport-option__item {
    width: 43px;
    height: 43px;
  }

  .transport-option__icon {
    height: 21px;
  }

  .transport-option__icon--plane {
    width: 19px;
  }

  .transport-option__icon--bus {
    width: 17px;
  }

  .transport-option__icon--bike {
    width: 24px;
  }

  .transport-option__icon--run {
    width: 20px;
  }

  .transport-option {
    margin-top: -9px;
  }

  .transport-option__list {
    margin-bottom: 25px;
  }

  .transport-option__legend {
    margin-top: -20px;
  }
}
