.travelmate {
  position: relative;
  width: 270px;

  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;

  font-size: 15px;
  line-height: 18px;

  color: $medium-grey;
  background-color: $white;

  border-radius: 20px;
}

.travelmate__info {
  display: flex;
  flex-wrap: wrap;
}

.travelmate__photo {
  order: -1;
}

.travelmate__img {
  width: 70px;
  height: 70px;

  border-radius: 50%;
}

.travelmate__name {
  position: relative;

  max-width: 90px;
  margin: 0;

  padding-right: 60px;
  padding-bottom: 35px;
  padding-left: 16px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  text-align: left;
}

.travelmate__link {
  color: $dark-slate-blue;

  text-decoration: none;
}

.travelmate__status::before {
  content: "";

  position: absolute;
  right: -35px;
  top: 6px;

  width: 5px;
  height: 5px;

  background-color: lightgrey;
  border-radius: 50%;
}

.travelmate__status--offline::before {
  background-color: #f97676;
}

.travelmate__status--online::before {
  background-color: #81e31e;
}

.travelmate__likes {
  position: absolute;
  top: 54px;
  left: 67px;

  width: 85px;
}

.travelmate__hashtags {
  max-width: 230px;
  margin-top: 16px;
  padding-right: 64px;
}

.travelmate__destination {
  margin-top: 20px;
}


.travelmate__wrapper {
  position: relative;

  display: flex;
  min-height: 87px;


  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.travelmate__subhead {
  position: relative;

  display: block;
  margin: 0;
  margin-bottom: 15px;

  font-size: 15px;
  line-height: 18px;
  font-weight: normal;

  color: $medium-grey;

  text-transform: lowercase;
}

.travelmate__subhead::before,
.travelmate__subhead::after {
  content: "";

  position: absolute;
  top: 7px;
  height: 1px;
  background-color: #edeff6;
}

.travelmate__subhead::before {
  width: 14px;
  left: -21px;
}

.travelmate__subhead::after {
  width: 138px;
  right: -20px;
}

.travelmate__transport,
.travelmate__lvl {
  display: flex;
  min-height: 87px;

  flex-direction: column;
}

.travelmate__transport {
  width: 170px;
}

.travelmate__subhead--transport::after {
  width: 100px;
  right: 0;
}

.travelmate__lvl {
  width: 50px;
  margin: 0;
}

.travelmate__subhead--lvl::before {
  display: none;
}

.travelmate__subhead--lvl::after {
  width: 14px;
  right: -21px;
}

.travelmate__btn {
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .travelmate {
    display: flex;
    width: 688px;
    padding-top: 35px;
    padding-right: 25px;
    padding-bottom: 26px;
    padding-left: 35px;

    flex-wrap: wrap;
  }

  .travelmate__subhead {
    display: none;
  }

  .travelmate__subhead--dest {
    display: block;
  }

  .travelmate__info {
    width: 100%;
    padding-right: 95px;

    order: 1;
  }

  .travelmate__name {
    max-width: 250px;
    padding-right: 0;

    order: 2;

    font-size: 30px;
    line-height: 30px;
  }

  .travelmate__status::before {
    top: 12px;
  }

  .travelmate__img {
    width: 190px;
    height: 190px;

    border-radius: 15px;
  }

  .travelmate__buttons {
    display: flex;
    width: 255px;
    margin-top: -100px;
    margin-left: 209px;

    order: 2;
    align-items: center;
  }

  .travelmate__likes {
    position: static;
    flex-shrink: 0;
  }

  .travelmate__btn {
    width: 148px;
    height: 50px;
  }

  .travelmate__destination {
    width: 630px;
    order: 3;
  }

  .travelmate__wrapper {
    position: absolute;
    top: 34px;
    right: 25px;

    width: 60px;
  }

  .travelmate__hashtags {
    max-width: 231px;
    margin-top: -150px;
    margin-left: 209px;
    padding-right: 5px;

    order: 3;
  }
}
