//ширины
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//цвета
$dark-blue-grey: #192144;
$white: #ffffff;
$light-gold: #ffd74b;
$dark-gold: #ffbd30;
$mango: #ff8d30;
